{include file="common/header" /}
<legend id="title">作品列表信息</legend>
<div style="padding: 0 10px">
<style>
    .laytable-cell-1-sign{ width:150px;padding: 0 }
    .pagination{height: 26px;position: relative;display: inline-block;}
    .pagination > li{
        height: 26px;
        line-height: 26px;
        border: none;
        background: 0 0;
        padding: 0 12px;
        float: left;
        font-size: 20px;
    }
</style>
<table class="layui-table">
    <colgroup>
        <col width="10">
        <col width="50">
        <col width="100">
        <col width="150">
        <col width="150">
        <col width="100">
        <col width="200">
        <col width="200">
        <col width="100">
        <col width="100">
        <col width="200">
        <col width="150">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>
            <input type="checkbox">
        </th>
        <th>ID</th>
        <th>标题</th>
        <th>内容</th>
        <th>图片</th>
        <th>音频</th>
        <th>视频</th>
        <th>会员名</th>
        <th>分类</th>
        <th>浏览次数</th>
        <th>添加时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="data" id="vo"}
    <tr>
        <td>
            <input type="checkbox">
        </td>
        <td>{$vo.article_id}</td>
        <td>{$vo.article_title}</td>
        <td>
            <div class="layui-table-cell laytable-cell-1-sign">
                {$vo.content}
            </div>
        </td>
        <td>{$vo.img_url ? $vo.img_url : '空'}</td>
        <td>
            <div class="layui-table-cell laytable-cell-1-sign">
                {$vo.music_url ? $vo.music_url : '空'}
            </div>
        </td>
        <td>
            <div class="layui-table-cell laytable-cell-1-sign">
                {$vo.video_url ? $vo.video_url : '空'}
            </div>
        </td>
        <td>{$vo.user_name}</td>
        <td>{$vo.nav_name}</td>
        <td>{$vo.see_num}</td>
        <td>{$vo.add_time|date="y-m-d h:i:s",###}</td>
        <td>
            {$vo.status==1 ? '正常运行中' : '已删除'}
        </td>
        <td>
            <div class="layui-table-cell laytable-cell-1-10"><a href="{:url('home/article/article_details',['article_id' => $vo.article_id])}" class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
                <a article_id="{$vo.article_id}" status="{$vo.status==1 ? 3 : 1}" onclick="del_article(this)" href="javascript:;" class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">
                    {$vo.status==1 ? '删除' : '恢复上线'}
                </a>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div>
    {$page}
</div>
<script>
    $(".pagination .active").css('color','red');
    /**删除操作**/
    function del_article(obj) {
        var id = obj.getAttribute('article_id'),status = obj.getAttribute('status');
        if(status == 3){
            layui.use('layer', function() {
                var $ = layui.jquery,
                    layer = layui.layer;
                layer.open({
                     type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['确认', '取消']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？亲！<br>你删除该作品后客户在你的app上就看不到你的作品啦！<br》</div>'
                    ,success: function(layero){
                        var btn = layero.find('.layui-layer-btn');
                        btn.find('.layui-layer-btn0').click(function () {
                            ajax(id,status);
                        });
                    }
                });
            });
        }else {
            ajax(id,status);
        }
    }

    function ajax(id,status){
        $.ajax({
            'type':'get',
            'url':"{:url('home/article/del_article')}",
            'data':{
                'article_id':id,
                'status' : status
            },
            'success':function (result) {
                if(result.code == 1){
                    layui.use('layer', function() {
                        var $ = layui.jquery,
                            layer = layui.layer;
                        layer.open({
                            title: '操作结果信息'
                            ,content: result.msg
                            ,yes: function(layero, index){
                                location.reload();
                            }
                        });
                    });
                }else if(result.code == -2){
                    location.href = result.url;
                }
            },
            'error':function () {
                console.log('error');
            }
        })
    }
</script>
{include file="common/footer" /}