{include file="common/header" /}
<legend id="title">banner详情</legend>
<div style="padding: 0 10px">
    <style>
        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
        .file_format{
            display: none;
        }
    </style>
    <div class="layui-row">
        <div class="layui-col-md2">
            <div class="grid-demo grid-demo-bg1">&nbsp;</div>
        </div>
        <div class="layui-col-md8">
            <div class="grid-demo">
                <form class="layui-form layui-form-pane" id="new_user_data" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">BannerId</label>
                            <div class="layui-input-inline">
                                <input type="text" value="{$banner_data.id}" name="user_name" disabled lay-verify="" autocomplete="off" placeholder="请输入名称" class="layui-input">
                            </div>
                            <input type="hidden" value="{$banner_data.id}" name="banner_id">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">所属分类</label>
                            <div class="layui-input-inline">
                                <input type="text" value="{$banner_data.nav_name}" disabled name="pass_word" lay-verify="pass_word" autocomplete="off" placeholder="请输入密码" class="layui-input">
                            </div>
                            <input type="hidden" name="nav_id" value="{$banner_data.nav_id}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">跳转地址</label>
                            <div class="layui-input-inline">
                                <input type="text" value="{$banner_data.Jump_url}" name="Jump_url" lay-verify="Jump_url" autocomplete="off" placeholder="请输入密码" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">添加时间</label>
                            <div class="layui-input-inline">
                                <input type="text" value="{$banner_data.add_time|date='Y-m-d H:i:s',###}" disabled name="add_time" lay-verify="pass_word" autocomplete="off" placeholder="请输入密码" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item file_format" file-data="img" style="display: block;">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="test1">banner图片</button>
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="demo1" src="{$banner_data.banner_img}">
                                <p id="demoText"></p>
                            </div>
                            <input type="hidden" name="banner_img" value="{$banner_data.banner_img}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="grid-demo grid-demo-bg1">&nbsp;</div>
        </div>
    </div>

    <script>
        layui.use(['form', 'layedit', 'laydate','upload'], function(){
            var $ = layui.jquery,
                upload = layui.upload;
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;

            //日期
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });

            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            form.verify({
                user_name: function(value){
                    if(value.length < 2){
                        return '标题至少得5个字符啊';
                    }
                }
                ,pass_word: [/(.+){6,12}$/, '密码必须6到12位']
                ,mobile: function (value) {
                    if(value == 0){
                        return "请填写手机号！";
                    }
                }
                ,content: function(value){
                    layedit.sync(editIndex);
                }
            });

            //监听指定开关
            form.on('switch(switchTest)', function(data){
                layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                    offset: '6px'
                });
                layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            });

            //监听提交
            form.on('submit(demo1)', function(data){
                add_article();
                return false;
            });

            //多图片上传
            upload.render({
                elem: '#test1'
                ,url: "{:url('home/nav/upload_file')}"
                ,multiple: true
                ,size: 2024 //限制文件大小，单位 KB
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                ,done: function(res){
                    //上传成功
                    $("input[name='banner_img']").val(res.url_str);
                }
            });



            form.on('select(file_format)', function(data){
                console.log(data.value); //得到被选中的值
                for(var i = 0; i < $(".file_format").length; i++){
                    if($(".file_format").eq(i).attr("file-data") == data.value){
                        $(".file_format").hide();
                        $(".file_format").eq(i).show();
                    }
                }
            });


        });
    </script>
    <script>
        /**默认选中**/
        for(var i = 0; i < $(".file_format").length; i++){
            if($(".file_format").eq(i).attr("file-data") == $(".file_format").val()){
                $(".file_format").eq(i).show();
            }
        }

        /**添加新的会员**/
        function add_article() {
            var img_url_node = $("input[name='img_url']"),img_list = '';
            for (var i = 0; i < img_url_node.length; i++){
                img_list += img_url_node.eq(i).val() + ',';
            }
            $.ajax({
                'type':'post',
                'url':"{:url('home/nav/update_banner_info')}",
                'data':$("#new_user_data").serialize(),
                'success':function (result) {
                    layui.use('layer', function() {
                        var layer = layui.layer;
                        layer.open({
                            title: '操作结果信息'
                            ,content: result.msg
                            ,yes: function(layero, index){
                                location.href = "{:url('home/user/get_user_list')}";
                            }
                        });
                    });
                },
                'error':function () {
                    console.log('error');
                }
            })
        }

    </script>
</div>



{include file="common/footer" /}