{include file="common/header" /}
<legend id="title">作品列表信息</legend>
<div style="padding: 0 10px">
    <style>
        .laytable-cell-1-sign{ width:150px;padding: 0 }
        .laytable-cell-2-sign{width: 100px;padding: 0}
        .pagination{height: 26px;position: relative;display: inline-block;}
        .pagination > li{
            height: 26px;
            line-height: 26px;
            border: none;
            background: 0 0;
            padding: 0 12px;
            float: left;
            font-size: 20px;
        }
    </style>
    <table class="layui-table">
        <colgroup>
            <col width="10">
            <col width="200">
            <col width="100">
            <col width="50">
            <col width="350">
            <col width="250">
            <col width="250">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>
                <input type="checkbox">
            </th>
            <th>ID</th>
            <th>所属名称</th>
            <th>banner图片</th>
            <th>跳转地址</th>
            <th>添加时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="data" id="vo"}
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>{$vo.id}</td>
            <td>
                <div class="layui-table-cell laytable-cell-1-sign">
                    {$vo.nav_name}
                </div>
            </td>
            <td style="height: 50px">
                <div class="layui-table-cell laytable-cell-1-sign" style="height: auto">
                    <img style="height: 50px" src='{$vo.banner_img}' alt="">
                </div>
            </td>
            <td>
                <div class="layui-table-cell laytable-cell-2-sign">
                    {$vo.Jump_url}
                </div>
            </td>
            <td>
                <div class="layui-table-cell laytable-cell-1-sign">
                    {$vo.add_time|date="Y-m-d H:i:s",###}
                </div>
            </td>
            <td>
                <?php
                    if($vo['status'] == 1){
                        echo '正常';
                    }elseif($vo['status'] == 3){
                        echo '已删除';
                    }
                ?>
            </td>
            <td>
                <div class="layui-table-cell laytable-cell-1-10">
                    <a uid="{$vo.id}" href="{:url('home/nav/update_banner_info',['banner_id' => $vo.id])}" class="layui-btn layui-btn-mini" lay-event="del">
                        编辑
                    </a>
                    <a uid="{$vo.id}" status="{$vo.status==3 ? 1 : 3}" onclick="update_status(this)" href="javascript:;" class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">
                        {$vo.status==3 ? '恢复正常' : '删除'}
                    </a>
                </div>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div>
        {$page}
    </div>
    <script>
        $(".pagination .active").css('color','red');
        /**修改banner状态操作**/
        function update_status(obj) {
            var id = obj.getAttribute('uid'),status = obj.getAttribute('status');
            if(status == 3){
                layui.use('layer', function() {
                    var $ = layui.jquery,
                        layer = layui.layer;
                    layer.open({
                        type: 1
                        ,title: false //不显示标题栏
                        ,closeBtn: false
                        ,area: '300px;'
                        ,shade: 0.8
                        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,btn: ['确认', '取消']
                        ,btnAlign: 'c'
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？亲！<br>您进行该操作后用户将会受到影响而不能正常使用！<br></div>'
                        ,success: function(layero){
                            var btn = layero.find('.layui-layer-btn');
                            btn.find('.layui-layer-btn0').click(function () {
                                ajax(id,status);
                            });
                        }
                    });
                });
            }else {
                ajax(id,status);
            }
        }

        function ajax(id,status){
            $.ajax({
                'type':'get',
                'url':"{:url('home/nav/update_banner_status')}",
                'data':{
                    'id':id,
                    'status' : status
                },
                'success':function (result) {
                    if(result.code == 1){
                        layui.use('layer', function() {
                            var $ = layui.jquery,
                                layer = layui.layer;
                            layer.open({
                                title: '操作结果信息'
                                ,content: result.msg
                                ,yes: function(layero, index){
                                    location.reload();
                                }
                            });
                        });
                    }else if(result.code == -2){
                        location.href = result.url;
                    }
                },
                'error':function () {
                    console.log('error');
                }
            })
        }
    </script>
    {include file="common/footer" /}